<% layout("./layouts/boilerplate") %>

    <head>
        <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
    </head>
    <style>
        .btns .btn {
            height: 2.2rem;
            background-color: #fe424d;
            border: none;
        }

        .card {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
    <script> const mapToken = " <%= process.env.MAP_TOKEN %> "
        const coordinates = <% - JSON.stringify(listing) %> 
    </script>


    <div class="row">
        <div class="col-8 offset-3 mt-3">
            <h3>
                <%= listing.title %>
            </h3>
        </div>
        <div class="card  col-6 offset-3">
            <img src=" <%=listing.image.url %> " class="card-img-top" alt="..." style="height: 35vh;">

            <div class="card-body">
                <p class="card-text">
                    <i>
                        <%= listing.owner.username %>
                    </i>
                </p>
                <p class="card-text">
                    <b>
                        <%= listing.title %>
                    </b>
                </p>
                <p class="card-text">
                    <%= listing.description %>
                </p>
                <p class="card-text">
                    &#8377; <%= listing.price.toLocaleString("en-IN") %>
                </p>
                <p class="card-text">
                    <%= listing.location %>
                </p>
                <p class="card-text">
                    <%= listing.country %>
                </p>
            </div>
        </div>
        <br />


        <% if (currUser && currUser._id .equals(listing.owner._id)) { %>

            <div class="btns" style="display: flex;">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark  mt-2  offset-3">Edit</a>
                <br /><br />
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="btn btn-dark mb-5 mt-2 offset-5" style="background-color: black;">Delete</button>
                </form>
            </div>

            <% } %>




                <div class="col-8 offset-3 mb-3">
                    <% if(currUser) { %>
                        <hr />
                        <h4>Leave a Review</h4>
                        <form method="post" action="/listings/<%= listing.id %>/reviews" novalidate
                            class="needs-validation">

                            <!-- <div class="mb-3 mt-3">
                                    <label for="rating" class="form-label">Rating</label>
                                    <fieldset class="starability-slot">
                                        <input type="radio" id="rating" class="input-no-rate form-label"
                                            name="review[rating]" value="1" checked aria-label="No rating." />
                                        <input type="radio" id="rating" name="review[rating]" value="1" />
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="rating" name="review[rating]" value="2" />
                                        
                                </div> -->
                            <div class="mb-3 mt-3">
                                <label for="rating" class="form-label">Rating</label>

                                <fieldset class="starability-slot">
                                    <input type="radio" id="input-no-rate" name="review[rating]" value="0" checked
                                        aria-label="No rating">
                                    <input type="radio" id="first-rate1" name="review[rating]" value="1">
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2">
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>

                                </fieldset>
                            </div>

                            <label for="comment" class="col-form-label">Comments</label>
                            <textarea name="review[comment]" comment" cols="30" class="form-control"
                                required></textarea>
                            <div class="invalid-feedback">
                                please add comment
                            </div><BR>
                            <button class="btn btn-outline-dark">Submit</button>


                        </form>
                        <% } %>
                </div>
                <% if(listing.reviews.length> 0 ) { %>
                    <hr>
                    <p><b>All Reviews</b></p>
                    <div class="row">
                        <% for(let review of listing.reviews) { %>

                            <div class="card col-6 ms-3 offset-3 mb-3 ">
                                <div class="card-body">
                                    <h5 class="card-title">@<%= review.author.username %>
                                    </h5>
                                    <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>


                                    <p class="card-text">
                                        <%= review.comment %>
                                    </p>

                                    <form class="mb-3" method="POST"
                                        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                        <button class="btn btn-sm btn-dark">Delete</button>
                                    </form>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <% } %>
                        <hr>


                        <div class="card col-6 ms-3 offset-3 mb-3 ">
                            <h3>"Where you will be"</h3>
                            <div id="map">
                                <script>
                                        mapboxgl.accessToken = 'pk.eyJ1IjoiYWJ1cWF0YWRhMDEiLCJhIjoiY2x0emIzbGpwMG42bDJscWYxNDVsc2JnbiJ9.r55Oea5vfTH3EjrU22e3xw';
                                    const map = new mapboxgl.Map({
                                        container: 'map',
                                        style: 'mapbox://styles/mapbox/streets-v9',

                                        zoom: 10,
                                        center: [ <%= listing.geometry.coordinates %> ]
                                    });

                                    const marker = new mapboxgl.Marker({ color: "red" })
                                        .setLngLat( [ <%= listing.geometry.coordinates %> ]) //Listing.geometry.coordinates
                                        .setPopup(
                                            new mapboxgl.Popup({ offset: 25 }).setHTML(
                                                "<h5><%= listing.location %> </h5> <p>Exact location ill be provided</p>"
                                            )
                                        )
                                        .addTo(map);


                                 



                                </script>
                            </div>

                        </div>

    </div>